@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow:400,700|PT+Serif:400,700);

body {
  background:#E6E7E9;
  border-top:solid 5px #1C98D3;
  color: #31322F;
  font: 400 14px/18px "PT Serif", georgia, serif;
  margin:0;
}

a { color:#1C98D3; }
a:hover, a:visited { color:#31322F; }

hr {
  border-top-color: #999;
  border-style: solid none none;
  border-width: 1px;
  margin: 20px 0;
}

p {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  color:#49494D;
  font-family: "PT Sans Narrow", helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  text-transform:uppercase;
}

span.color { color:#1C98D3; }

header {
  border-bottom: solid 1px #49494D;
  margin: 40px auto;
  padding-bottom: 40px;
  width: 360px;
}

header h1 {
  font-size: 48px;
  line-height: 48px;
}

header h1 a {
  text-decoration: none;
}

header p.caption {
  font: 700 14px/18px "PT Sans", helvetica, sans-serif;
  margin: 0;
}

article {
  border-bottom: solid 1px #49494D;
  margin: 0 auto 40px;
  padding-bottom: 40px;
  position: relative;
  width: 360px;
}

article h1 {
  font-size: 24px;
  line-height: 24px;
}

article h1 a, article h1 a:visited {
  color: #31322F;
  text-decoration:none;
}

article h2 {
  font-size: 18px;
  line-height: 18px;
}

article img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: -125px;
  margin-top: -25px;
  max-height: 100px;
  max-width: 100px;
  position: absolute;
}

a.register {
  background:#1C98D3;
  border-radius:3px;
  color: #E6E7E9;
  display: block;
  font-family: 'PT Sans', helvetica, san-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 15px;
  padding:5px 0 3px 5px;
  text-align: center;
  text-decoration:none;
  text-shadow: 0 -1px 0 #31322F;
  text-transform:uppercase;
}

a.register:hover { background:#31322F; }

footer {
  margin: 40px auto;
  padding-bottom: 40px;
  width: 360px;
}

footer ol {
  margin: 0;
  padding: 0;
}
